### OSX ###
.DS_Store
.AppleDouble
.LSOverride

node_modules/

wp-content/themes/lasiktheme/frontend/public/
wp-content/themes/lasiktheme/frontend/src/images/

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
