<!--=== Article item start ===-->
<article class="article-item article-item--small">
  <div class="article-item__image-wrapper">
    <a href="#">
      <picture>
        <source media="(min-width: 540px)" data-srcset="./assets/images/article-img-2.png" />
        <img class="article-item__img img-lazy" alt="article" data-src="./assets/images/article-img-2.png">
        <noscript>
          <img class="img-lazy" alt="article" src="./assets/images/article-img-2.png" />
        </noscript>
      </picture>
    </a>
    <a href="#" class="article-item__category article-item__category--small hide-on-small-only">General LASIK & PRK Information</a>
    <div class="article-item__date">
      <div class="article-item__day">11</div>
      <div class="article-item__month">Mar</div>
    </div>
  </div>
  <!--=== Article item body start ===-->
  <div class="article-item__body">
    <div class="article-item__type hide-on-small-only">
      <span>ARTICLE</span>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <h2 class="article-item__title article-item__title--small">
          <a href="#">
            What is the Future of LASIK?
          </a>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <p class="article-item__excerpt">
          Caramels carrot cake cake caramels. Donut gingerbread croissant cheesecake cake carrot cake fruitcake candy. 
        </p>
      </div>
      <div class="col s12 m12 hide-on-med-and-down">
        <ul class="badges-list">
          <li class="badges-list-item badge-gray">
            <a href="#">
              LASIK Technology
            </a>
          </li>
          <li class="badges-list-item badge-gray">
            <a href="#">
              Innovation
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--=== Article item body end ===-->
</article>
<!--=== Article item end ===-->