<!--=== Article item start ===-->
<article class="article-item article-item--middle">
  <div class="row">

    <div class="col s12 m4">
      <div class="article-item__image-wrapper article-item__image-wrapper--no-margin">
        <a href="#">
          <picture>
            <source media="(min-width: 540px)" data-srcset="./assets/images/article-img-5.png" />
            <img class="article-item__img img-lazy" alt="article" data-src="./assets/images/article-img-5.png">
            <noscript>
              <img class="img-lazy" alt="article" src="./assets/images/article-img-5.png" />
            </noscript>
          </picture>
        </a>
        <div class="article-item__date hide-on-med-and-up">
          <div class="article-item__day">12</div>
          <div class="article-item__month">Mar</div>
        </div>
      </div>
    </div>

    <div class="col s12 m8">
      <!--=== Article item body start ===-->
      <div class="article-item__body">
        <div class="article-item__type article-item__type--small-margin hide-on-small-only">
          <span>ARTICLE</span>
        </div>
        <h2 class="article-item__title article-item__title--small article-item__title--small-margin">
          <a href="#">
            HSA… HDHP… Huh?! Decoding Health Insurance Acronyms.
          </a>
        </h2>
        <div class="row">
          <div class="col s12 m12">
            <p class="article-item__excerpt">
              Powder fruitcake jelly beans bonbon brownie...
            </p>
          </div>
        </div>
      </div>
      <!--=== Article item body end ===-->
    </div>

  </div>
</article>
<!--=== Article item end ===-->
