<!--=== Article item start ===-->
<article class="article-item article-item--middle">
  <div class="article-item__image-wrapper">
    <a href="#">
      <picture>
        <source media="(min-width: 540px)" data-srcset="./assets/images/article-img-1.png" />
        <img class="article-item__img img-lazy" alt="article" data-src="./assets/images/article-img-1.png">
        <noscript>
          <img class="img-lazy" alt="article" src="./assets/images/article-img-1.png" />
        </noscript>
      </picture>
    </a>
    <a href="#" class="article-item__category hide-on-small-only">Life After Laser Eye Surgery</a>
    <div class="article-item__date">
      <div class="article-item__day">12</div>
      <div class="article-item__month">Mar</div>
    </div>
  </div>
  <!--=== Article item body start ===-->
  <div class="article-item__body margin-left-m">
    <div class="article-item__type hide-on-small-only">
      <span>ARTICLE</span>
    </div>
    <div class="row">
      <div class="col s12 m8">
        <h2 class="article-item__title">
          <a href="#">
            Will LASIK Cure My Astigmatism?
          </a>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8">
        <p class="article-item__excerpt">
          Sweet roll candy lemon drops. Chocolate cheesecake wafer toffee chocolate bar lemon drops. Jujubes icing tart. Caramels danish ice cream croissant tart....
        </p>
      </div>
      <div class="col s12 m4 hide-on-med-and-down">
        <ul class="badges-list badges-list--no-padding badges-list--column badges-list--end">
          <li class="badges-list-item badge-gray">
            <a href="#">
              Eye Diseases
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--=== Article item body end ===-->
</article>
<!--=== Article item end ===-->
