<section class="downloads-section">
  <div class="container">

    <div class="download-item">
      <div class="download-item__img lr-direction">
        <div class="image-wrapper">
          <img src="./assets/test_images/lca-candidacy-quiz-img.png" alt="">
        </div>
      </div>
      <div class="download-item__content">
        <h2>CANDIDACY QUIZ</h2>
        <h3>Find Out if LASIK is Right for You</h3>
        <p>Take this short quiz and find out if a
          <span class="brand-name"><span>Lasik</span><span>Plus</span></span> procedure is the right solution for you.
        </p>
        <a href="#candidacy-quiz" class="btn-simple btn-simple--icon btn-simple--orange btn-simple--full-width modal-trigger">
          <i class="far fa-question-circle btn-simple__icon" aria-hidden="true"></i>
          <span class="btn-simple__text">Take Candidacy Quiz Now</span>
        </a>
      </div>
    </div>

    <div class="download-item download-item__reverse">
      <div class="download-item__img rl-direction">
        <div class="image-wrapper">
          <img src="./assets/test_images/lca-information-kit.png" alt="">
        </div>
      </div>
      <div class="download-item__content">
        <h2>FREE DOWNLOAD</h2>
        <h3>Get Your Free Information Kit</h3>
        <p>
          Learn about everything <span class="brand-name"><span>Lasik</span><span>Plus</span></span> offers.
        </p>
        <a href="#information-kit" class="btn-simple btn-simple--icon btn-simple--orange btn-simple--full-width modal-trigger">
          <i class="far fa-arrow-to-bottom btn-simple__icon" aria-hidden="true"></i>
          <span class="btn-simple__text">Request Information Kit Now</span>
        </a>
      </div>
    </div>

  </div>
  
  <div class="background-decoration bottom-top" aria-hidden="true">
    <span class="brand-name"><span>Lasik</span><span>Plus</span></span>
  </div>
  <div class="background-decoration top-bottom" aria-hidden="true">
    <span class="brand-name"><span>Lasik</span>Plus</span>
  </div>

</section>