<div class="container">
  <div class="feed-instagram">
    <div class="instagram-link mobile">
      <svg viewBox="0 0 486.392 486.392" aria-hidden="true">
          <use xlink:href="#logo-instagram"></use>
      </svg>
      <span>@lasikplus</span>
    </div>
    <div class="feed-instagram__list">
      <div class="item">
        <picture>
          <source srcset="./assets/images/feed-inst-img.webp" type="image/webp">
          <source srcset="./assets/images/feed-inst-img.jpg" type="image/jpeg">
          <img src="./assets/images/feed-inst-img.jpg" alt="lasikplus">
        </picture>
      </div>
      <div class="item">
        <picture>
          <source srcset="./assets/images/feed-inst-img-2.webp" type="image/webp">
          <source srcset="./assets/images/feed-inst-img-2.jpg" type="image/jpeg">
          <img src="./assets/images/feed-inst-img-2.jpg" alt="lasikplus">
        </picture>
      </div>
      <div class="item">
        <picture>
          <source srcset="./assets/images/feed-inst-img-3.webp" type="image/webp">
          <source srcset="./assets/images/feed-inst-img-3.jpg" type="image/jpeg">
          <img src="./assets/images/feed-inst-img-3.jpg" alt="lasikplus">
        </picture>
      </div>
    </div>
    <div class="instagram-link">
      <svg viewBox="0 0 486.392 486.392" aria-hidden="true">
          <use xlink:href="#logo-instagram"></use>
      </svg>
      <span>@lasikplus</span>
    </div>
  </div>
</div>
