<section class="cost-section">
  <div class="container">
    <div class="row">
      <div class="col s12 xl4">
        <h2 class="text-white cost-section__title">Cost of LASIK and PRK at Lasik<span>Plus</span></h2>
      </div>
      <div class="col s12 xl8">
        <div class="row">
          <div class="col s12 m6">
            <div class="rotator">
              <div class="rotator-circle">
                <div class="bg-rotator">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="3461.658 610.83 47.527 60.17">
                    <g id="lca-icon" transform="translate(3463.658 615.83)">
                      <path id="Path_2423" class="cls-1" d="M16.414,2.23A27.253,27.253,0,0,0,3.6,12.866H14.125Z" transform="translate(-0.582 -0.173)"
                      />
                      <path id="Path_2424" class="cls-1" d="M25.864-.24a25.011,25.011,0,0,0-2.952.2l-.52,2.432L20.22,12.453H34.544l-.579,2.715-.7,3.248H18.953l-2.759,12.8H9.485l2.164-10.069.587-2.715H.512a1.938,1.938,0,0,1-.117.416C-1.87,29.41,5.871,37.947,17.654,37.93s23.205-8.578,25.478-19.156S37.664-.257,25.864-.24Z"
                        transform="translate(-0.001 0.24)" />
                    </g>
                  </svg>
                </div>
                <div class="border-rotator">
                  <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="25" fill="none" stroke="#1e2e45" stroke-width="0.3" />
                    <circle class="border-path" cx="50" cy="50" r="25" fill="none" stroke="#ffffff" stroke-dashoffset="117.81" stroke-width="0.3"
                    />
                  </svg>
                </div>
                <div class="numbers">
                  <div class="each active" data-number="1" data-url="cost-01">
                    <span data-target="cost-item__number" class="number">01</span>
                    <div data-target="cost-item__title" class="hidden">Financing LASIK</div>
                    <div data-target="cost-item__subtitle" class="hidden">Gauranteed Financing AND Best Price on LASIK</div>
                    <div data-target="section-description" class="hidden">Cookie jujubes carrot cake. Fruitcake apple pie bonbon pudding gummies fruitcake jelly carrot cake. Chocolate cake cake powder gummi bears bear claw fruitcake powder donut dragée. Carrot cake gummi bears sesame snaps sugar plum cotton candy pie muffin croissant croissant.</div>
                  </div>
                  <div class="each" data-number="2" data-url="cost-02">
                    <span data-target="cost-item__number" class="number">02</span>
                    <div data-target="cost-item__title" class="hidden">lorem</div>
                    <div data-target="cost-item__subtitle" class="hidden">Gauranteed Financing AND Best Price on LASIK</div>
                    <div data-target="cost-item__description" class="hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, a?</div>
                  </div>
                  <div class="each" data-number="3" data-url="cost-03">
                    <span data-target="cost-item__number" class="number">03</span>
                    <div data-target="cost-item__title" class="hidden">Lorem, ipsum.</div>
                    <div data-target="cost-item__subtitle" class="hidden">Gauranteed Financing AND Best Price on LASIK</div>
                    <div data-target="cost-item__description" class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nisi quia, provident magnam vel impedit inventore reprehenderit vero eos dolorum soluta sit amet eveniet unde.</div>
                  </div>
                  <div class="each" data-number="4" data-url="cost-04">
                    <span data-target="cost-item__number" class="number">04</span>
                    <div data-target="cost-item__title" class="hidden">Lorem, ipsum dolor.</div>
                    <div data-target="cost-item__subtitle" class="hidden">Gauranteed Financing AND Best Price on LASIK</div>
                    <div data-target="cost-item__description" class="hidden">Lorem ipsum, dolor sit amet consectetur adipisicing.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="rotator-shown-values-wrapper col s12 m6">
            <span class="rotator-connector" aria-hidden="true"></span>
            <div class="rotator-shown-values cost-item text-white">
              <h2 class="cost-item__header">
                <span class="text-black cost-item__number">01</span><span>:</span>
                <span class="cost-item__title">Financing LASIK</span>
              </h2>
              <h3 class="cost-item__subtitle">Gauranteed Financing AND Best Price on LASIK</h3>
              <p class="cost-item__description">Cookie jujubes carrot cake. Fruitcake apple pie bonbon pudding gummies fruitcake jelly carrot cake. Chocolate cake cake powder gummi bears bear claw fruitcake powder donut dragée. Carrot cake gummi bears sesame snaps sugar plum cotton candy pie muffin croissant croissant. </p>
              <div class="btn-simple__wrapper">
                <a href="#" class="btn-simple btn-simple--icon btn-simple--dark-blue btn-simple--big">
                  <i class="far fa-usd-circle btn-simple__icon"></i>
                  <span class="btn-simple__text btn-simple__text--small">
                    Learn More About <span class="section-title">Financing LASIK</span>
                  </span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>