<!--=== Navbar dropdown start ===-->
<div id="navbar-dropdown" class="navbar-dropdown">

  <ul class="dropdown-item" data-dropdown-item="experience-lasikplus">
    <li><a href="#">LasikPlus Promise & Culture</a></li>
    <li><a href="#">Our Heritage & Why it Matters to You</a></li>
    <li><a href="#">Your Vision is our Privilege</a></li>
    <li><a href="#">Patient Stories</a></li>
    <li><a href="#">Get to know our Vision Center Families</a></li>
  </ul>
  <ul class="dropdown-item" data-dropdown-item="lasic-procedure">
    <li><a href="#">Bladeless Wavefront LASIK - iLASIK</a></li>
    <li><a href="#">LASIK Recovery</a></li>
  </ul>
  <ul class="dropdown-item" data-dropdown-item="prk-procedure">
    <li><a href="#">PRK Recovery</a></li>
  </ul>
  <ul class="dropdown-item" data-dropdown-item="cost">
    <li><a href="#">Financing LASIK or PRK</a></li>
    <li><a href="#">Insurance Coverage for LASIK or PRK</a></li>
    <li><a href="#">FSH / HSA for LASIK or PRK</a></li>
    <li><a href="#">LasikPlus Advantage Plan</a></li>
    <li><a href="#">LASIK Discounts for Veterans & Civil Servants</a></li>
  </ul>
  <ul class="dropdown-item" data-dropdown-item="resources">
      <li><a href="#">General LASIK & PRK Information</a></li>
      <li><a href="#">Cost of Laser Eye Surgery</a></li>
      <li><a href="#">Frequently Asked Questions</a></li>
      <li><a href="#">Template: Glossary of Terms</a></li>
      <li><a href="#">Life After Laser Eye Surgery</a></li>
      <li><a href="#">Eye Conditions</a></li>
      <li><a href="#">LASIK Improves Lifestyles (vertical landing pages)</a></li>
  </ul>

</div>
<!--=== End Navbar dropdown ===-->