<section class="patient-stories">
  <div class="container">
    <div class="patient-stories__slider">

      <div class="patient-stories__item">
        <div class="row">
          <div class="col x12 m6 l5 xl6 img">
            <div class="phone">
              <picture class="hide-on-small-only">
                <source media="(min-width: 540px)" data-srcset="./assets/images/img-phone.png" />
                <img  alt="article" src="./assets/images/img-phone.png">
                <noscript>
                  <img  alt="article" src="./assets/images/img-phone.png" />
                </noscript>
              </picture>
              <picture class="hide-on-med-and-up">
                <source media="(min-width: 540px)" data-srcset="./assets/images/patient-stories-img.png" />
                <img  alt="article" src="./assets/images/patient-stories-img.png">
                <noscript>
                  <img  alt="article" src="./assets/images/patient-stories-img.png" />
                </noscript>
              </picture>
            </div>
          </div>
          <div class="col x12 m6 l7 xl6 info">
            <div class="patient-stories__content">
              <div class="info__header">
                <div class="custom-nav">
                  <button data-next class="custom-prev custom-nav__item" aria-hidden="true">
                    <i class="far fa-chevron-circle-left arrow-left "></i>
                  </button>
                  <button data-prev class="custom-next custom-nav__item" aria-hidden="true">
                    <i class="far fa-chevron-circle-right arrow-right"></i>
                  </button>
                  <div class="patient-stories__number">
                    PATIENT STORY <span class="current">01</span> OF 03
                  </div>
                </div>
                <ul class="custom-dots"></ul>
              </div>
              <div class="patient-stories__title">
                After LASIK, Stephanie no longer needs glasses!
              </div>
              <div class="patient-stories__subtitle">
                Procedure Performed:  2018, February 10th - OAK BROOK, IL Vision Center
              </div>
              <div class="patient-stories__description">
                Cookie jujubes carrot cake. Fruitcake apple pie bonbon pudding gummies fruitcake jelly carrot cake. Chocolate cake cake powder gummi bears bear claw fruitcake powder donut dragée...
              </div>
              <a href="#" class="btn-simple btn-simple--icon btn-simple--orange btn-simple--big">
                <i class="far fa-angle-right btn-simple__icon"></i>
                <span class="btn-simple__text">
                  Watch Stephanies’s LASIK Story
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="patient-stories__item">
        <div class="row">
          <div class="col x12 m6 l5 xl6 img">
            <div class="phone">
              <picture class="hide-on-small-only">
                <source media="(min-width: 540px)" data-srcset="./assets/images/img-phone.png" />
                <img  alt="article" src="./assets/images/img-phone.png">
                <noscript>
                  <img  alt="article" src="./assets/images/img-phone.png" />
                </noscript>
              </picture>
              <picture class="hide-on-med-and-up">
                <source media="(min-width: 540px)" data-srcset="./assets/images/patient-stories-img.png" />
                <img  alt="article" src="./assets/images/patient-stories-img.png">
                <noscript>
                  <img  alt="article" src="./assets/images/patient-stories-img.png" />
                </noscript>
              </picture>
            </div>
          </div>
          <div class="col x12 m6 l7 xl6 info">
            <div class="patient-stories__content">
              <div class="info__header">
                <div class="custom-nav">
                  <button data-next class="custom-prev custom-nav__item">
                    <i class="far fa-chevron-circle-left arrow-left "></i>
                  </button>
                  <button data-prev class="custom-next custom-nav__item">
                    <i class="far fa-chevron-circle-right arrow-right"></i>
                  </button>
                  <div class="patient-stories__number">
                    PATIENT STORY <span class="current">02</span> OF 03
                  </div>
                </div>
                <ul class="custom-dots"></ul>
              </div>
              <div class="patient-stories__title">
                After LASIK, Stephanie no longer needs glasses!
              </div>
              <div class="patient-stories__subtitle">
                Procedure Performed:  2018, February 10th - OAK BROOK, IL Vision Center
              </div>
              <div class="patient-stories__description">
                Cookie jujubes carrot cake. Fruitcake apple pie bonbon pudding gummies fruitcake jelly carrot cake. Chocolate cake cake powder gummi bears bear claw fruitcake powder donut dragée...
              </div>
              <a href="#" class="button button-secondary button-big">
                <i class="fal fa-angle-right"></i>
                <span>
                  Watch Stephanies’s LASIK Story
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="patient-stories__item">
        <div class="row">
          <div class="col x12 m6 l5 xl6 img">
            <div class="phone">
              <picture class="hide-on-small-only">
                <source media="(min-width: 540px)" data-srcset="./assets/images/img-phone.png" />
                <img  alt="article" src="./assets/images/img-phone.png">
                <noscript>
                  <img  alt="article" src="./assets/images/img-phone.png" />
                </noscript>
              </picture>
              <picture class="hide-on-med-and-up">
                <source media="(min-width: 540px)" data-srcset="./assets/images/patient-stories-img.png" />
                <img  alt="article" src="./assets/images/patient-stories-img.png">
                <noscript>
                  <img  alt="article" src="./assets/images/patient-stories-img.png" />
                </noscript>
              </picture>
            </div>
          </div>
          <div class="col x12 m6 l7 xl6 info">
            <div class="patient-stories__content">
              <div class="info__header">
                <div class="custom-nav">
                  <button data-next class="custom-prev custom-nav__item">
                    <i class="far fa-chevron-circle-left arrow-left "></i>
                  </button>
                  <button data-prev class="custom-next custom-nav__item">
                    <i class="far fa-chevron-circle-right arrow-right"></i>
                  </button>
                  <div class="patient-stories__number">
                    PATIENT STORY <span class="current">03</span> OF 03
                  </div>
                </div>
                <ul class="custom-dots"></ul>
              </div>
              <div class="patient-stories__title">
                After LASIK, Stephanie no longer needs glasses!
              </div>
              <div class="patient-stories__subtitle">
                Procedure Performed:  2018, February 10th - OAK BROOK, IL Vision Center
              </div>
              <div class="patient-stories__description">
                Cookie jujubes carrot cake. Fruitcake apple pie bonbon pudding gummies fruitcake jelly carrot cake. Chocolate cake cake powder gummi bears bear claw fruitcake powder donut dragée...
              </div>
              <a href="#" class="button button-secondary button-big">
                <i class="fal fa-angle-right"></i>
                <span>
                  Watch Stephanies’s LASIK Story
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
