<!--=== Top section start ===-->
<section class="top-section">
  <!--=== Top subsection start ===-->
  <div class="top-subsection">
    <div class="upper-layer" aria-hidden="true">
      <div class="layer-presentation"></div>
    </div>
    <div class="bottom-layer" aria-hidden="true">
      <div class="layer-presentation"></div>
    </div>
    <div class="top-subsection__content">
      <h1 class="top-subsection__title">
        Give yourself a better life, experience LASIK or PRK laser eye surgery with the
        <span class="brand-name">
          Lasik<span>Plus</span>
        </span> 
        family.
      </h1>
      <div>
        <div class="google-reviews">
          <span class="amount">4.5</span>
          <!--=include ../common/star_bar.html -->
          <p>23,662 Total Google reviews proudly averaging 5.0 across all 54 of our locations!</p>
        </div>
        <div class="location-search">
          <form action="" class="location-search__form">
            <button class="location-search__button button button-secondary" type="button" aria-hidden="true">
              <i class="far fa-map-marker"></i>
            </button>
            <label for="id_location" class="location-search__label">
              Enter a Zip Code, City, State, or Doctor Name
            </label>
            <input id="id_location" class="location-search__input autocomplite-trigger browser-default" data-target="#location-autocomplite" type="text" placeholder="Where are you located?">
            <div class="location-search__autocomplete" id="location-autocomplite">
              <ul>
                <li>
                  <a href="#">
                    <span>Zip Code Match</span>
                    <p>Cincinnati Vision Center</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>Zip Code Match</span>
                    <p>Cincinnati Vision Center</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>Zip Code Match</span>
                    <p>Cincinnati Vision Center</p>
                  </a>
                </li>
              </ul>
            </div>
            <a class="modal-trigger location-search__show-all" href="#all-location ">View All Locations</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--=== Top subsection end ===-->
  <!--=== Special Offer start ===-->
  <div class="special-offer">
    <div class="container align-center text-white">
      <h2 class="special-offer__title">Special Offer</h2>
      <h3 class=special-offer__subtitle>
        LASIK Starting as low as $250
      </h3>
      <p class="special-offer__text">
        Hurry! Limited Time Offer!
      </p>
      <button class="btn-simple btn-simple--icon btn-simple--dark-green btn-simple--big special-offer__button waves-effect waves-light" type="button">
        <i class="far fa-calendar-alt btn-simple__icon"></i>
        <span class="btn-simple__text">Schedule Today!</span>
      </button>
    </div>
  </div>
  <!--=== Special Offer end ===-->
</section>
<!--=== Top section end ===-->
