<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Lasic</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Description" />
    <meta name="viewport" content="width=device-width" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--=include ../common/favicons.html -->
    <!--=include ../common/styles.html -->

  </head>
  <body>
    <div id="app">
      <div class="content-wrapper landing-page">
        <!--=include ../common/header.html -->
        <!--=include ../common/sidenav.html -->
        <!--=include ../parts/top_section.html -->
        <!--=include ../parts/patient_stories.html -->
        <!--=include ../parts/lasic_cost.html -->
        <!--=include ../parts/doctor_spotlight.html -->
        <!--=include ../parts/downloads_section.html -->
        <!--=include ../parts/article_feed_section.html -->
        <!--=include ../parts/feed_instagram.html -->
        <!--=include ../common/footer.html -->
        <!--=include ../common/search.html -->
        <!--=include ../common/change-location.html -->
        <!--=include ../common/candidacy-quiz.html -->
        <!--=include ../common/information-kit.html -->
        <!--=include ../common/view-all-locations.html -->
      </div>
    </div>
    <div class="svg-view hidden" aria-hidden="true">
      <!--=include ../symbol/svg/sprite.symbol.svg -->
    </div>
    <!--=include ../common/scripts.html -->

  </body>
</html>
