<!--=== Footer start ===-->
<footer class="footer">
  <div class="container">
    <!--=== Footer content start ===-->
    <div class="footer__content">
      
      <div class="footer__item">
        <!--=include ./logo.html -->
        <div class="footer__caption">
          <p class="footer__provide">We provide safe, effective, and affordable LASIK & PRK.</p>
          <p class="text-white footer__text">Give yourself the gift of unaided vision today.</p>
        </div>
      </div>

      <div class="footer__item">
        <h3>Explore</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Find a Vision Center</a></li>
          <li><a href="#">Experience <span class="brand-name"><span>Lasik</span><span>Plus</span></a></li>
          <li><a href="#">Cost of LASIK</a></li>
          <li><a href="#">LASIK Procedure</a></li>
          <li><a href="#">PRK Procedure</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="footer__item">
        <h3>Corporate Offices</h3>
        <ul>
          <li>7840 Montgomery Rd</li>
          <li>3rd Floor</li>
          <li>Cincinnati, OH 45236</li>
        </ul>
        <h3>Contact Us</h3>
        <ul>
          <li>
            <a href="mailto:email@lasikplus.com">email@lasikplus.com</a>
          </li>
          <li>
            <a href="tel:5139069759">513 906 9759</a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <h3>Follow</h3>
        <ul>
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Instagram</a>
          </li>
          <li>
            <a href="#">LinkedIn</a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <h3>Legal</h3>
        <ul>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
        </ul>
        <h3>Additional</h3>
        <ul>
          <li>
            <a href="#">Careers</a>
          </li>
          <li>
            <a href="#">Sign In</a>
          </li>
        </ul>
      </div>

      <div class="footer__item show-on-small hide-on-med-only show-on-large">
        <!--=== Next page link start ===-->
        <div class="next-page">Next:&nbsp;<a href="#">Find a Vision Center</a></div>
        <!--=== end Next page link ===-->
      </div>

    </div>
    <!--=== Footer content end ===-->
  </div>
  <div class="container">
    <div class="footer-copyright">
      @ 2018 LasikPlus.  All Rights Reserved.  Website by FNCTN.
      <div class="next-page hide-on-small-only show-on-medium hide-on-large-only">Next:&nbsp;<a href="#">Find a Vision Center</a></div>
    </div>
  </div>
</footer>
<!--=== end Footer ===-->
