<!--=== Header start ===-->
<header class="header">
  <!--=== Header Top start ===-->
  <div class="header-top">
    <div class="header-top__content">

      <ul class="header-top__list hide-on-med-and-up">
        <li class="header-top__item">
          <a class="header-top__link sidenav-trigger" data-target="mobile-menu" href="#" aria-label="menu">
            <i class="far fa-bars header-top__icon"></i>
          </a>
        </li>
        <li class="header-top__item">
          <!--=include ./logo.html -->
        </li>
      </ul>

      <ul class="header-top__list">
        <li class="header-top__item">
          <a class="header-top__link" href="tel:1.866.755.2026" aria-label="phone">
            <i class="fal fa-mobile header-top__icon"></i>
            <span class="text-gray hide-on-med-and-down">Call Us: </span>
            <strong class="text-white hide-on-small-only">1.866.755.2026</strong>
          </a>
        </li>
        <li class="header-top__item hide-on-med-and-down">
          <a class="header-top__link" href="tel:1.866.921.2394">
            <span class="text-gray">Espanol: </span>
            <strong class="text-white">1.866.921.2394</strong>
          </a>
        </li>
        <li class="header-top__item">
          <a class="header-top__link" href="#" aria-label="chat">
            <i class="far fa-comment header-top__icon"></i>
            <span class="text-gray hide-on-med-and-down">Live</span>
            <strong class="text-white hide-on-small-only">Chat</strong>
          </a>
        </li>
        <li class="header-top__item header-top__item--no-margin hide-on-med-and-up">
          <a class="header-top__link header-top__icon modal-trigger" href="#search-modal" aria-label="search">
            <i class="far fa-search header-top__icon"></i>
          </a>
        </li>
      </ul>
      
      <div class="header-top__info hide-on-small-only">
        <ul class="header-top__list">
          <li class="header-top__item header-top__item--no-margin">
            <a class="header-top__link" href="#">
              <i class="far fa-map-marker header-top__icon"></i>
              <span class="text-gray">Cincinnati, OH</span>
            </a>
            <a class="modal-trigger" href="#location-modal">
              <strong class="text-white">Change</strong>
            </a>
          </li>
        </ul>

        <a href="#" class="header-top__btn waves-effect waves-light">
          <i class="far fa-calendar-alt icon-calendar"></i> 
          <span>Book a <strong>FREE</strong> consultation</span>
        </a>
      </div>

    </div>
  </div>
  <!--=== Header Top end ===-->
  <!--=== Header Bottom start ===-->
  <div class="header-bottom hide-on-small-only">
    
    <div class="header-bottom__logo">
      <!--=include ./logo.html -->
    </div>
    <!--=== Menu start ===-->
    <nav class="menu">
      <li class="menu__item hide-on-med-and-down">
        <a href="#" class="menu__link">
          Find a Vision Center
        </a>
      </li>
      <li class="menu__item hide-on-med-and-down" data-dropdown-item="experience-lasikplus">
        <a href="#" class="menu__link">
          Experience
          <span class="brand-name"><span>Lasik</span><span>Plus</span></span>
        </a>
        <!--=== dropdown start ===-->
        <div class="dropdown" data-dropdown="experience-lasikplus">
          <ul class="dropdown__list">
            <li><a href="#">LasikPlus Promise & Culture</a></li>
            <li><a href="#">Our Heritage & Why it Matters to You</a></li>
            <li><a href="#">Your Vision is our Privilege</a></li>
            <li><a href="#">Patient Stories</a></li>
            <li><a href="#">Get to know our Vision Center Families</a></li>
          </ul>
        </div>
        <!--=== dropdown end ===-->
      </li>
      <li class="menu__item hide-on-med-and-down" data-dropdown-item="lasik">
        <a href="#" class="menu__link">
          LASIK
        </a>
        <!--=== dropdown start ===-->
        <div class="dropdown hide-on-med-and-down" data-dropdown="lasik">
          <ul class="dropdown__list" data-dropdown-item="lasic-procedure">
            <li><a href="#">Bladeless Wavefront LASIK - iLASIK</a></li>
            <li><a href="#">LASIK Recovery</a></li>
          </ul>
        </div>
        <!--=== dropdown end ===-->
      </li>
      <li class="menu__item hide-on-med-and-down" data-dropdown-item="prk-procedure">
        <a href="#" class="menu__link">
          PRK
        </a>
        <!--=== dropdown start ===-->
        <div class="dropdown hide-on-med-and-down" data-dropdown="prk-procedure">
          <ul class="dropdown__list">
            <li><a href="#">PRK Recovery</a></li>
          </ul>
        </div>
        <!--=== dropdown end ===-->
      </li>
      <li class="menu__item hide-on-med-and-down" data-dropdown-item="cost">
        <a href="#" class="menu__link">
          Cost of LASIK or PRK
        </a>
        <!--=== dropdown start ===-->
        <div class="dropdown" data-dropdown="cost">
          <ul class="dropdown__list">
            <li><a href="#">Financing LASIK or PRK</a></li>
            <li><a href="#">Insurance Coverage for LASIK or PRK</a></li>
            <li><a href="#">FSH / HSA for LASIK or PRK</a></li>
            <li><a href="#">LasikPlus Advantage Plan</a></li>
            <li><a href="#">LASIK Discounts for Veterans & Civil Servants</a></li>
          </ul>
        </div>
        <!--=== dropdown end ===-->
      </li>
      <li class="menu__item dropdown-right hide-on-med-and-down" data-dropdown-item="resources">
        <a href="#" class="menu__link">
          Resources
        </a>
        <!--=== dropdown start ===-->
        <div class="dropdown" data-dropdown="resources">
          <ul class="dropdown__list">
            <li><a href="#">General LASIK & PRK Information</a></li>
            <li><a href="#">Cost of Laser Eye Surgery</a></li>
            <li><a href="#">Frequently Asked Questions</a></li>
            <li><a href="#">Template: Glossary of Terms</a></li>
            <li><a href="#">Life After Laser Eye Surgery</a></li>
            <li><a href="#">Eye Conditions</a></li>
            <li><a href="#">LASIK Improves Lifestyles (vertical landing pages)</a></li>
          </ul>
        </div>
        <!--=== dropdown end ===-->
      </li>
      <li class="menu__item show-on-medium">
        <a href="#" class="menu__link sidenav-trigger" data-target="mobile-menu">
          <i class="far fa-bars menu__icon"></i>
        </a>
      </li>
      <li class="menu__item hide-on-small-only">
        <a href="#search-modal" class="menu__link modal-trigger">
          <i class="far fa-search menu__icon"></i>
        </a>
      </li>
    </nav>
    <!--=== Menu end ===-->
  </div>
  <!--=== Header Bottom start ===-->
  
</header>