<!--=== Sidenav start ===-->
<div class="sidenav" id="mobile-menu">

  <button type="button" class="sidenav__close sidenav-close" aria-hidden="true">
    <i class="far fa-times"></i>
  </button>

  <ul class="sidenav__list">

    <li class="sidenav__item">
      <a class="sidenav__link" href="#" >
        Home
      </a>
    </li>

    <li class="sidenav__item">
      <a class="sidenav__link" href="#" >
        Find a Vision Center
      </a>
    </li>

    <li class="sidenav__item submenu-item">
      <a class="sidenav__link submenu-toggle" href="#">
        Experience
        <span class="brand-name"><span>Lasik</span><span>Plus</span></span>
      </a>
      <div class="submenu">
        <a href="#" class="submenu__back submenu-toggle">
          Back
        </a>
        <ul class="submenu__list">
          <li class="submenu__item">
            <a href="#" class="submenu__link">LasikPlus Promise & Culture</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Our Heritage & Why it Matters to You</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Your Vision is our Privilege</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Patient Stories</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Get to know our Vision Center Families</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sidenav__item submenu-item">
      <a class="sidenav__link submenu-toggle" href="#">
        LASIK
      </a>
      <div class="submenu">
        <a href="#" class="submenu__back submenu-toggle">
          Back
        </a>
        <ul class="submenu__list">
          <li class="submenu__item">
            <a href="#" class="submenu__link">Bladeless Wavefront LASIK - iLASIK</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">LASIK Recovery</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sidenav__item submenu-item">
      <a class="sidenav__link submenu-toggle" href="#">
        PRK
      </a>
      <div class="submenu">
        <a href="#" class="submenu__back submenu-toggle">
          Back
        </a>
        <ul class="submenu__list">
          <li class="submenu__item">
            <a href="#" class="submenu__link">PRK Recovery</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sidenav__item submenu-item">
      <a class="sidenav__link submenu-toggle" href="#">
        Cost of LASIK or PRK
      </a>
      <div class="submenu">
        <a href="#" class="submenu__back submenu-toggle">
          Back
        </a>
        <ul class="submenu__list">
          <li class="submenu__item">
            <a href="#" class="submenu__link">Cost of LASIK or PRK</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Financing LASIK or PRK</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Insurance Coverage for LASIK or PRK</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">FSH / HSA for LASIK or PRK</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">LasikPlus Advantage Plan</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">LASIK Discounts for Veterans & Civil Servants</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sidenav__item submenu-item">
      <a class="sidenav__link submenu-toggle" href="#">
        Resources
      </a>
      
      <div class="submenu" id="submenu-resources">
        <a href="#" class="submenu__back submenu-toggle">
          Back
        </a>
        <ul class="submenu__list">
          <li class="submenu__item">
            <a href="#" class="submenu__link">General LASIK & PRK Information</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Cost of Laser Eye Surgery</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Frequently Asked Questions</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Template: Glossary of Terms</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Life After Laser Eye Surgery</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Eye Conditions</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">LASIK Improves Lifestyles (vertical landing pages)</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>

  <div class="sidenav__footer">
    <div class="actions">
      <div class="actions__item">
        <a href="tel:1.866.755.2026" class="actions__link">
          <i class="fal fa-mobile actions__icon"></i>
          <p class="actions__caption">Call Us</p>
        </a>
      </div>
      <div class="actions__item">
        <a href="#" class="actions__link">
          <i class="far fa-comment actions__icon"></i>
          <p class="actions__caption">Live Chat</p>
        </a>
      </div>
      <div class="actions__item">
        <a href="#search-modal" class="actions__link modal-trigger">
          <i class="far fa-search actions__icon"></i>
          <p class="actions__caption">Search</p>
        </a>
      </div>
    </div>
    <a href="#" class="sidenav__button button button-secondary">
      <i class="far fa-calendar-alt"></i>
      <span>
        Schedule Free Eye Exam
      </span>
    </a>
  </div>
</div>
<!--=== Sidenav end ===-->