body {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.container {
  transition: width 0.3s ease;
  padding: 0 $grid-gutter-width / 2;
  @include breakpoint(bp-medium) {
    padding-left: $grid-gutter-width / 2!important;
    padding-right: $grid-gutter-width / 2!important;
  }
}

.brand-name {
  span:first-child {
    font-weight: inherit;
  }
  span:last-child {
    font-weight: 700;
    font-family: $sans;
    font-style: italic
  }
}

.img-lazy {
  display: block;
  min-height: 1px;
  width: 100%;
  background-color: $brand-primary;
  position: absolute;
}

.img-lazy:not([src]) {
  visibility: hidden;
}

.badges-list {
  padding: 0;
  margin: 0;
  font-family: $serif;
  font-size: 12px;
  .badges-list-item {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  a {
    display: block;
    padding: 2px 20px 2px;
    color: $text-body;
  }
}

.brand-logo {
  svg {
    fill: $white;
  }
}


svg use {
  rect,
  circle,
  polygon,
  path {
    fill: inherit;
  }
}

.vertical-video {
  position: relative;
  width: 100%;
  padding-bottom: 46.239%; // 640/1138
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}