.footer {
  padding: 50px 0 30px;
  color: $gray-ultra-light;
  background-color: $black;
  text-align: center;
  .brand-logo {
    display: block;
    max-width: 510px;
    margin: 0px auto;
    svg {
      max-width: 510px;
    }
  }
  &__caption {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 130px;
      height: 4px;
      margin-left: -65px;
      background-color: rgba(255, 255, 255, 0.35);
    }
  }
  &__provide {
    max-width: 200px;
    margin: 0px auto 5px;
    font-size: 14px;
    line-height: 28px;
  }
  &__text {
    margin-bottom: 0px;
    font-size: 15px;
  }
  ul {
    padding: 0;
    margin: 0 0 30px;
  }
  li {
    margin-bottom: 10px;
    font-size: 15px;
  }
  h3 {
    margin-bottom: 10px;
    color: $white;
    font-size: inherit;
    font-weight: 700;
  }
  a {
    color: $gray-ultra-light;
    font-size: 15px;
    &:focus,
    &:hover {
      color: $brand-secondary;

    }
  }
  .footer-copyright {
    margin-top: 70px;
    color: rgb(151, 151, 151);
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  .next-page {
    color: $white;
    display: inline-block;
    font-weight: 700;
    a {
      color: $white;
      &:focus,
      &:hover {
        color: $brand-secondary;
      }
    }
  }
}


@media screen and (min-width: $screen-sm) {
  .footer {
    padding: 95px 0 125px;
    text-align: left;
    font-size: 14px;
    .brand-logo {
      max-width: 150px;
      height: 40px;
      margin: 0 0 20px;
      svg {
        max-width: 150px;
        height: 40px;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      padding: 0px 75px 0px 35px;
    }
    &__caption {
      max-width: 150px;
      &:after {
        content: none;
        padding: 0;
        margin: 0;
      }
    }
    &__provide {
      max-width: 100%;
      margin-bottom: 0px;
      font-size: 12px;
    }
    &__text {
      margin-bottom: 0px;
      font-size: 12px;
      line-height: 28px;
    }
    h3 {
      font-size: 12px;
      line-height: 16px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 14px;
    }
    a {
      font-size: 12px;
      line-height: 16px;
    }
    .footer-copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
      padding-left: 35px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .footer {
    &__content {
      padding: 0px 30px;
    }
    .footer-copyright {
      padding: 0px 30px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .footer {
    &__content {
      padding: 0px;
    }
    &__caption {
      max-width: 160px;
    }
    &__provide {
      font-size: 14px;
    }
    &__text {
      font-size: 14px;
    }
    h3 {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 18px;
    }
    li {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
    }
    a {
      font-size: 14px;
      line-height: 18px;
    }
    .footer-copyright {
      padding: 0px;
      font-size: 14px;
    }
    .next-page {
      position: relative;
      padding-bottom: 15px;
      &:after {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.35);
      }
    }
  }
}

