.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.text-white {
  color: $white;
}

.no-padding {
  padding: 0;
  & > .row {
    margin: 0;
  }
}

.hidden {
  display: none !important;
}

.fa-stack {
  position: relative;
  margin-right: 15px;
  i:last-child {
    position: absolute;
    left: 50%;
    transform: translate(-55%, -50%);
    top: 50%;
    font-size: 16px;
  }
}
