.social {
	display: flex;
	align-items: center;
	&.social--fixed-sm {
		position: static;
		transform: translate(0);
		background-color: $white;
		.social__title {
			color: $brand-primary;
		}
		.social__link {
			color: $brand-primary;
		}
	}
	&--between,
	&--between-xs {
		justify-content: space-between;
	}
	&--horizontal-xs {
		margin-bottom: 10px;
	}
	&--horizontal,
	&--horizontal-xs {
		.social__title {
			margin-right: 10px;
		}
		.social__list {
			display: flex;
			align-items: center;
		}
		.social__item {
			margin: 0px 10px;
		}
	}
	&__content {
		padding: 10px 0px;
		&--between {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__title {
		color: $white;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0.35px;
		&--blue {
			color: $brand-primary;
		}
		&--big {
			font-size: 18px;
		}
	}
	&__list {
		margin: 0px; 
	}
	&__item {
		margin-bottom: 25px;
	}
	&__link {
		a {
			path {
				fill: $white;
			}

			&:hover {
				path {
					fill: $brand-secondary;
				}
			}
		}

		&--blue {
			a {
				path {
					fill: $brand-primary;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-sm) {
	.social {
		&.social--fixed-sm {
			position: fixed;
			z-index: 10;
			transform: translateY(100%);
			background-color: $brand-primary;
			.social__title {
				color: $white;
			}
			.social__link {
				color: $white;
			}
		}
		&--between-xs {
			justify-content: flex-start;
		}
		&--horizontal-xs {
			.social__list {
				flex-direction: column;
			}
			.social__item {
				margin: 0px 0px 25px;
			}
		}
		&__content {
			padding: 5px 0px 0px 0px;
		}
		&__link {
			font-size: 18px;
		}
	}
}