.top-banner {
	min-height: 410px;
	padding: 100px 0px 40px;
	background-position: 50% 50%;
	background-size: cover;
	&--mask-blue {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			display: block;
			background-color: rgba(90, 135, 198, .62);
		}
		.top-banner__wrapper {
			position: relative;
			z-index: 5;
		}
	}
	&__content {
		padding: 0px 15px;
	}
	&__title {
		margin-bottom: 40px;
		color: $white;
		font-size: 30px;
		line-height: 36px;
		text-align: center;
	}
	&__subtitle {
		margin-bottom: 40px;
		color: $white;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
	}
}

@media screen and (min-width: $screen-x) {
	.top-banner {
		&__content {
			padding: 0px 30px;
		}
		&__title {
			font-size: 35px;
			line-height: 45px;
		}
		&__subtitle {
			margin-bottom: 50px;
		}
	}
}

@media screen and (min-width: $screen-sm) {
	.top-banner {
		min-height: 490px;
		padding: 160px 0px 70px;
		&__content {
			max-width: 730px;
			width: 100%;
			padding: 0px 15px;
			margin: 0px auto;
		}
		&__title {
			font-size: 44px;
			line-height: 60px;
			margin-bottom: 60px;
		}
		.btn-simple {
			max-width: 330px;
		}
	}
}

@media screen and (min-width: $screen-md) {
	.top-banner {
		&__title {
			font-size: 52px;
			line-height: 65px;
		}
	}
}