<section class="wrap-article-detail" data-scroll-target>

  <div class="container">

    <div class="social social--horizontal-xs social--between-xs">
      <span class="social__title social__title--blue social__title--big hide-on-med-and-up">Choose Topic:</span>
      <ul class="social__list">
        <li class="social__item">
          <a href="#" class="social__link social__link--blue">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link social__link--blue">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link social__link--blue">
            <i class="far fa-link"></i>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="article-detail-content">
      <h2>
        Ice cream cotton candy tiramisu toffee sweet. Tart pudding tart toffee pastry powder candy canes caramels chocolate. Caramels liquorice jujubes.
      </h2>
      <p>
        Bonbon cheesecake lemon drops biscuit marzipan icing marshmallow. Bear claw marshmallow toffee bear claw lollipop wafer fruitcake. Biscuit sweet candy oat cake apple pie pie cheesecake jelly. <a href="#">Candy powder</a> jelly beans cake cupcake chocolate cake. Sugar plum tiramisu pie. Pastry pudding marshmallow jujubes gummi bears. Toffee wafer chocolate bar jelly-o gummies ice cream dessert chocolate. <a href="#">Chupa chups marshmallow</a> icing pudding gingerbread danish. Dragée chocolate cake liquorice apple pie biscuit powder marshmallow wafer soufflé. Sweet soufflé biscuit gummi bears cake. Brownie chupa chups candy tart.  Pudding gummi bears sugar plum.
      </p>
      <div class="img">
        <img src="./assets/images/img-article-d1.jpg" alt="Article">
        <div>
          This image is so awesome.  <a href="">Check out April 29th.</a>
        </div>
      </div>
      <p>
        Candy canes brownie marshmallow ice cream danish jelly jujubes croissant pie. Lollipop ice cream jelly-o dessert croissant. Cotton candy oat cake fruitcake sweet roll cake bonbon wafer halvah. Cupcake topping tootsie roll oat cake powder topping candy caramels macaroon. Biscuit wafer sweet lemon drops ice cream sweet roll bonbon jelly-o. Sweet tart lemon drops cupcake.
      </p>

      <h2>
        This is a standard H2 heading.  Oh Yeah.
      </h2>
      <p>
        Gummi bears icing pastry halvah. Tiramisu topping tootsie roll sugar plum halvah jelly-o. Gingerbread wafer cotton candy jujubes fruitcake topping jelly beans bear claw.
      </p>
      <p>
        <strong>Related:</strong>  <a href="">This is a link to a related article.  It is manually added!</a>
      </p>
      <p>
        Jelly-o cupcake halvah caramels cookie biscuit cotton candy cotton candy. Liquorice jelly beans pudding gingerbread pie toffee sweet sweet. Cake soufflé chocolate cake lollipop. Chocolate cake carrot cake cupcake halvah. Pastry tootsie roll cookie apple pie cotton candy dragée. Muffin sweet oat cake. Soufflé sugar plum pastry halvah candy canes sweet. Chocolate bar marzipan sweet roll fruitcake bonbon. Sweet roll oat cake chocolate bar cookie apple pie gingerbread tootsie roll. Wafer pudding chupa chups liquorice jujubes dessert chocolate cake danish. Marshmallow tart pudding gummi bears lemon drops carrot cake sugar plum candy jelly beans.
      </p>
      <blockquote cite="">
        “When the distraction shifts into boredom, that’s the seed of something creative.”
      </blockquote>
      <p>
        Cookie pudding halvah fruitcake. Icing dessert muffin cupcake. Dessert muffin jujubes wafer toffee sesame snaps macaroon. Biscuit jelly donut. Jelly beans sesame snaps candy sesame snaps sweet chocolate bar. Sugar plum croissant pie oat cake chocolate bar soufflé marshmallow powder. Jelly-o soufflé marshmallow jelly pudding tootsie roll fruitcake chocolate cake. Dragée marzipan lollipop sweet roll icing muffin ice cream donut chocolate cake. Gummies chupa chups sugar plum pie gummies. Bear claw topping jelly beans donut powder chocolate wafer. Topping carrot cake toffee oat cake. Tiramisu donut wafer chupa chups tart sugar plum macaroon bear claw. wafer chupa chups tart sugar plum macaroon bear claw.  Cake sweet fruitcake brownie bear claw gingerbread dessert sugar plum liquorice. Bonbon donut lollipop.
      </p>
      <div class="img">
        <img src="./assets/images/img-article-d2.jpg" alt="Article">
      </div>
      <p>
        Cookie pudding halvah fruitcake. Icing dessert muffin cupcake. Dessert muffin jujubes wafer toffee sesame snaps macaroon. Biscuit jelly donut. Jelly beans sesame snaps candy sesame snaps sweet chocolate bar. Sugar plum croissant pie oat cake chocolate bar soufflé marshmallow powder. Jelly-o soufflé marshmallow jelly pudding tootsie roll fruitcake chocolate cake. Dragée marzipan lollipop sweet roll icing muffin ice cream donut chocolate cake. Gummies chupa chups sugar plum pie gummies. Bear claw topping jelly beans donut powder chocolate wafer. Topping carrot cake toffee oat cake. Tiramisu donut wafer chupa chups tart sugar plum macaroon bear claw. wafer chupa chups tart sugar plum macaroon bear claw.  Cake sweet fruitcake brownie bear claw gingerbread dessert sugar plum liquorice. Bonbon donut lollipop.
      </p>

      <h2>
        This is also  heading #2.  Dig it.
      </h2>
      <p>
        tiramisu. Cookie fruitcake gingerbread cake powder pudding ice cream gummi bears. Wafer sweet roll muffin chocolate gummi bears pie. Sesame snaps biscuit carrot cake bear claw chocolate soufflé donut tart brownie. Sweet cake wafer chocolate cake candy biscuit jelly beans danish. Powder chocolate cake carrot cake pie sweet roll biscuit jelly muffin. Wafer gingerbread
      </p>
      <p>
         sweet brownie chocolate bar macaroon oat cake. Chocolate biscuit marzipan fruitcake oat cake bear claw halvah jelly-o marzipan. Ice cream topping gingerbread. Brownie cake cupcake cotton candy jelly-o chocolate bar. Brownie sweet roll muffin danish. Tart chocolate bar cookie cookie toffee soufflé bonbon. Icing chocolate pudding croissant tiramisu.
      </p>
      <div class="img">
        <img src="./assets/images/img-article-d3.jpg" alt="Article">
        <div class="comment">
          Photo by  <a href="">Chumbawumba</a>
        </div>
      </div>
      <h2>
        Closing statements are important.
      </h2>
      <p>
        Gummies lollipop gingerbread cake chocolate bar chocolate cake jujubes. Lemon drops croissant pie marshmallow apple pie gummi bears jelly-o bear claw. Jelly-o caramels dragée jelly-o candy canes apple pie tootsie roll. Donut jelly-o jujubes chocolate soufflé croissant chocolate bar carrot cake lollipop. Cake dessert toffee halvah sugar plum chupa chups.
      </p>
      <p>
        Gummi bears fruitcake gummi bears gingerbread chocolate bar muffin chocolate. Icing carrot cake bonbon pastry jelly sesame snaps gingerbread lollipop jelly beans. Marzipan danish cotton candy ice cream liquorice sweet fruitcake. Jelly beans cake pie halvah soufflé marzipan cupcake halvah biscuit. Candy canes tiramisu lollipop halvah danish jelly caramels lemon drops. Oat cake dragée pastry donut sesame snaps marshmallow cotton candy chupa chups bonbon. Cheesecake sweet marzipan. Ice cream marshmallow pie tootsie roll.
      </p>
    </div>

  </div>
</section>
