<section class="wrap-article-list type-3">
  <h2>
    YOU MIGHT ALSO LIKE...
  </h2>
  <div class="article-list container">
    <div class="item">
       <div class="img">
         <img src="./assets/images/img-article.jpg" alt="Article">
       </div>
       <div class="info">
         <div class="category">
           COST OF LASIK
         </div>
         <div class="title">
           <a href="" >
             General information about the cost of LASIK at LasikPlus.
           </a>
         </div>
       </div>
    </div>
    <div class="item">
       <div class="img">
         <img src="./assets/images/img-article.jpg" alt="Article">
       </div>
       <div class="info">
         <div class="category">
           COST OF LASIK
         </div>
         <div class="title">
           <a href="">
             Lorem ipsum dolor sit ametfacit
           </a>
         </div>
       </div>
    </div>
    <div class="item">
       <div class="img">
         <img src="./assets/images/img-article-empty.jpg" alt="Article">
       </div>
       <div class="info">
         <div class="category">
           COST OF LASIK
         </div>
         <div class="title">
           <a href="" >
             General information about the cost of LASIK at LasikPlus.
           </a>
         </div>
       </div>
    </div>
    <div class="item">
       <div class="img">
         <img src="./assets/images/img-article.jpg" alt="Article">
       </div>
       <div class="info">
         <div class="category">
           COST OF LASIK
         </div>
         <div class="title">
           <a href="" >
             General information about the cost of LASIK at LasikPlus.
           </a>
         </div>
       </div>
    </div>
    <div class="item">
       <div class="img">
         <img src="./assets/images/img-article-3.jpg" alt="Article">
       </div>
       <div class="info">
         <div class="category">
           COST OF LASIK
         </div>
         <div class="title">
           <a href="" >
             General information about the cost of LASIK at LasikPlus.
           </a>
         </div>
       </div>
    </div>
    <div class="item">
       <div class="img">
         <img src="./assets/images/img-article.jpg" alt="Article">
       </div>
       <div class="info">
         <div class="category">
           COST OF LASIK
         </div>
         <div class="title">
           <a href="" >
             General information about the cost of LASIK at LasikPlus.
           </a>
         </div>
       </div>
    </div>

  </div>
</section>
