<div class="wrap-more-posts">
   <div class="title">
     <a href="">
       <span>
         MORE POSTS LIKE THIS
       </span>
       <i class="fal fa-angle-right"></i>
     </a>
   </div>
   <div class="author-title">
      <span>author</span>
   </div>
   <div class="about-author">
     <div class="img">
      <img src="./assets/images/img-article-ath.jpg" alt="Dr. Andrea Cmejla">
     </div>
     <div class="info">
       <div class="name">
          Dr. Andrea Cmejla
       </div>
       <div class="description">
          <a href="">Dr. Andrea Cmejla</a> Muffin cupcake pastry marzipan marshmallow dragée chocolate bar. Gummi bears jelly tart chocolate. Pastry lollipop sweet roll sugar plum cookie brownie tart lemon drops.
       </div>
     </div>
   </div>
</div>
